[2020-01-23 19:15] noahwsmith commented on #362
Looking at one of our prod systems, I can see that the line in question is present:
`<Directory /var/www/>
	Options Indexes FollowSymLinks
	AllowOverride None
	Require all granted
</Directory>`

so why don't we see the same problem you do? I think it's because the main vhost (/etc/apache2/sites-enabled/islandora-site.conf) overrides this:

`	<Directory /var/www/html/>
		Require all granted
		Optio

[2020-01-23 19:57] noahwsmith commented on #362
That said, I don't see HARM in accepting the PR.

But I think it patches the symptom, not the root cause (which we don't yet understand)

[2020-01-23 19:58] noahwsmith commented on #362
thanks for helping debug on Slack, @br2490

[2020-01-23 20:04] noahwsmith commented on #362
Ben suggested:

you can bind mount the template file so when confd runs (the processor of the template) it’s your version that’s used. So copy down https://github.com/Islandora-Collaboration-Group/isle-apache/blob/master/rootfs/etc/confd/templates/apache/site_template.conf.tpl and bind mount your version to `etc/confd/templates/apache/site_template.conf.tpl`

[2020-01-24 15:17] bondjimbond commented on #362
@noahwsmith @br2490 Tried the bind mount trick -- it did not work.

[2020-01-24 15:27] bondjimbond commented on #362
And it is definitely using my mounted copy of the template; I added a test comment in there and it's present if I bash into the apache machine.

Given that the PR does no harm, it would be very helpful to cut off that particular source of problems.

[2020-01-24 19:49] g7morris commented on #362
@bondjimbond  As I've commented on your [PR](https://github.com/Islandora-Collaboration-Group/isle-apache/pulls I've started the ISLE 1.4.1 release build process and will include this PR for testing. I'll update this ticket in the next week with results. Our plan is to release ISLE 1.4.1 for the end of January but next week during the testing process, I'll loop you in on using a test image to try

[2020-01-27 08:54] attiks opened #364 "Drupal/Islandora 8 version"
#### Issue description

What is the best place to track the progress on the Islandora 8 version

I saw https://groups.google.com/forum/#!topic/islandora-isle/S9YO8sRP3Ek but my organization is mainly looking into the dockerized setup.

I've read https://groups.google.com/forum/#!topic/islandora-isle/3kzcPV9wClE and tried https://github.com/Islandora-Devops/islandora-playbook/pull/127 which is look

[2020-01-27 14:05] noahwsmith commented on #364
I suggest joining the ISLE interest group bi-weekly call: https://docs.google.com/document/d/1QZH-JFfroIA8NUFJu2NDwbmKV6ygCY7SjW001g8FeOU/edit#heading=h.bdicubw25j61

Wednesdays 3pm Eastern.

[2020-01-27 14:52] bondjimbond commented on #362
Thanks!

[2020-01-28 14:14] g7morris commented on #362
Hi @bondjimbond

I've completed the ISLE 1.4.1 build process, mnerged in your PR to the test code and have an Apache image for you to test if you're up for it.

I recommend that:

a) shutdown the containers on the running system you want to test on. `docker-compose down`

b) You edit the appropriate / involved `docker-compose.*.yml` file with the following in the apache service section:

[code]

c

[2020-01-28 15:11] bondjimbond commented on #362
Some confusion:

[code]
Am I editing `apache: image: islandoracollabgroup/isle-apache:1.4.0` or mysql: image: islandoracollabgroup/isle-mysql:1.4.0`?

There is no mysql image under `apache:`, but if I try changing it to `isle-apache:1.4.1-dev` I get the error when I run `docker-compose pull`:

`ERROR: manifest for islandoracollabgroup/isle-apache:1.4.1-dev not found: manifest unknown: manifest unk

[2020-01-28 15:14] g7morris commented on #362
@bondjimbond My apologies, I didn't notice the wrong image name in there. Lack of coffee. I've updated my comment above to the correct method.

[code]

[2020-01-28 15:15] bondjimbond commented on #362
Ah, now we're getting somewhere. Thanks, pull is in progress. Will report back with success/failure.

[2020-01-28 15:18] bondjimbond commented on #362
Success!

- Modified `docker-compose.staging.yml` as instructed
- Removed bind mount to my custom template to use the one from the image
- Result: it works. https://sandbox.arcabc.ca/about

All good!

[2020-01-28 15:27] g7morris commented on #362
Thanks for testing and confirming this @bondjimbond I'll be sure to merge in your PR to the official release. In addition to the fixes, thanks and appreciation of all your hard work, I've immortalized you as a contributor in the upcoming release notes. https://github.com/Born-Digital-US/ISLE/blob/ISLE-v.1.4.1-dev/docs/release-notes/release-1-4-1.md :)

[2020-01-28 15:30] bondjimbond opened #365 "Staging install instructions: clarify or improve "commit locally to git""
#### Issue description

At the ["Edit the '.env' file" stage of the installation instructions](https://github.com/Islandora-Collaboration-Group/ISLE/blob/master/docs/install/install-staging-migrate.md#step-12-on-remote-staging---edit-the-env-file-to-change-to-the-staging-environment), we are told:

Following these instructions does not actually prevent `.env` from being pushed back; should we not

[2020-01-28 15:31] bondjimbond commented on #362
Aw, thanks. :)

[2020-01-28 15:45] g7morris commented on #365
@bondjimbond You are 100% correct in questioning this and in identifying the proper method. I believe this process was to be included in an upcoming release. I'll make note of this and discuss with the team.

[2020-01-31 19:59] #362 closed

[2020-01-31 20:04] g7morris commented on #362
Closing ticket as @bondjimbond 's [commit](https://github.com/Islandora-Collaboration-Group/isle-apache/commit/7f94b6b6ee40fc39bd86addf312ae84b14072247) fixes this issue. Merged with 1.4.1 release. Thanks again @bondjimbond

[2020-03-05 14:44] bondjimbond opened #372 "Documentation: How to build a Multisite in ISLE"
#### Issue description

Multisites are possible in ISLE, but the documentation for how to build them does not exist. I have a collection of steps from @dwk2, but they are incomplete.

#### Steps collected so far

- TRANSFER MYSQL DATABASES (from production to local)
    - Can be found in the basic migration docs
- TRANSFER live rsync'ed /html/ from isle-dev to Local
    - More or less found in the

[2020-03-09 16:40] Digital-Grinnell opened #374 "Drush crashes due to IMI use of Composer in install-local-migrate process at Step 10"
#### Issue description
I'm working again through `install-local-migrate` and my `migration-site-vsets.sh` script is crashing with multiple fatal errors because _drush_ won't run.  The cause is a missing include file required by the _Islandora\_Multi-Importer_ (IMI) module.  You must run `composer update` in the IMI module in order to properly install or re-install it.  Until you do, `drush` won't

[2020-03-10 18:12] dwk2 commented on #372
re: How to create new multisites: Please see this method:
https://github.com/Islandora-Collaboration-Group/drush-sitespinner

[2020-03-18 09:25] fabianderijk commented on #364
I'm looking for the same. For a client of ours we want to use Islandora 8 and Fedora 5 in dockerized setup. I've already read that there is a planning to release the 8 version during or around DrupalCon, but is there already a dev version or something we can test? Or start using during our own development process?

[2020-03-18 17:24] noahwsmith commented on #364
The Github repo for the ISLE-8 project is here: https://github.com/Islandora-Devops/isle-dc

Status as of March 18 is that this repo runs Islandora without Fedora. Target for the next 3-4 weeks is add support for Fedora and dependencies. There is also a robust delivery of workflows and tooling that should be merged this week from https://github.com/Islandora-Devops/isle-dc/pull/6

[2020-03-23 19:46] noahwsmith commented on #374
I guess you could add to `migrate-sites-vsets.sh` something that looks for the presence of the IMI module and runs composer install if it finds it, but I don't otherwise see how the ISLE project can enforce a fix within an institution's drupal codebase. Thoughts @Digital-Grinnell  ?

[2020-03-23 19:55] SummittDweller commented on #374
Right, what I did was add a loop at the top of that script that finds composer.lock files and runs `composer update` against each one.  Seems to work nicely, and does no harm if there are no composer installed components.

[2020-03-26 16:17] g7morris opened #376 "Development needed for Cantaloupe upgrade from 4.0.3 to 4.1.5"
#### Issue description
I started poking at a potential Cantaloupe upgrade from 4.0.3 to 4.1.5.

Additionally, I was curious if we could implement the XACML / delegates.rb fix outlined here https://groups.google.com/forum/#!msg/islandora/oW_luXn4BNE/bMerf3q_AwAJ

I was able to change the version number in the Dockerfile and got a local build running.

I changed the delegates.rb code to:

[code]

*

[2020-03-27 18:15] bondjimbond commented on #372
@dwk2 Trying this now... Instructions unclear.

Result:
`cp: cannot create regular file '/root/.drush/sitespinner-sample.aliases.drushrc.php': No such file or directory`

There is no `~/.drush/` directory in the ISLE Apache container... so where should it go?

[2020-04-01 14:31] bondjimbond commented on #372
I'm getting stymied by various inconsistencies in the Sitespinner docs vs. the ISLE environment.

First:
* in ISLE there is no drush/commands folder.
* `which drush` gets you `/usr/local/bin/drush`
* There's no `drush` directory
* So is Sitespinner just installed to `/usr/local/bin/sitespinner`?

Assuming that `/usr/local/bin/sitespinner` works, I have cloned it there. However...

Assuming it is,

[2020-04-28 13:54] g7morris commented on #376
Please review the following for inclusion in ISLE release 1.5.0:

These images will need to be rebuilt with new settings:
https://github.com/Islandora-Collaboration-Group/isle-apache/pull/15
https://github.com/Islandora-Collaboration-Group/isle-imageservices/pull/14

[2020-08-17 13:18] g7morris commented on #376
This issue has been completed by the recent releases of 1.5.0 and 1.5.1. Closing ticket.

[2020-08-17 13:18] #376 closed

[2020-09-10 16:16] Digital-Grinnell opened #388 "Restore production `/var/www/html/sites/default/files` in `install-local-migrate.md`"
#### Issue description
Working through the `install-local-migrate.md` document and [Step 0](https://github.com/Islandora-Collaboration-Group/ISLE/blob/master/docs/install/install-local-migrate.md#drupal-site-files-and-code) instructs us to make a copy of our _production_ `/var/www/html/sites/default/files` directory and says "You'll move this directory in later steps."  I can't find any place late

[2020-10-06 16:08] ysuarez commented on #335
@McFateM (and others like @dwk2) Last week on the ISLE mailing list there was someone that had a [similar issue to mine](https://groups.google.com/g/islandora-isle/c/3XMfyROb-3M), in their case they were using a "$" in their mysql root password. This makes me wonder if we want to add a short warning in the **Step 4/5: Create New Users and Passwords by Editing "local.env" File** that quotes what yo

[2020-10-08 15:18] hamza-northbay opened #393 "Run standalone fedora image with AWS RDS configuration."
#### Issue description
Hi, I am trying to run fedora standalone container on EC2 with AWS RDS MySql configuration.
I observed that isle-fedora image is strongly coupled with isle-mysql and I am trying to decouple it. Is there any way that I can provide MySql RDS endpoint to the isle-fedora image and starts communication with MySql RDS rather than isle-mysql image ?

[2020-10-10 04:22] ysuarez opened #394 "Documentation: small fixes to install-environments.md"
#### Issue description
There were some incorrect "staging" values in the following docs page:

https://islandora-collaboration-group.github.io/ISLE/install/install-environments/#isle-project-structure

The section that lists the various "staging" files and values incorrectly mentions "local".

@marksandford

[2020-10-10 04:42] ysuarez opened #396 "Documentation: update the final terminal output of install_solution_packs.sh"
#### Issue description

Updating the documentation to reflect the current final terminal output of scripts/apache/install_solution_packs.sh in the following files...

docs/install/install-local-migrate.md
docs/install/install-staging-migrate.md

The current terminal output is listed as:
"Done. 'all' cache was cleared."

Though it should be:
"Drush script finished! ...exiting"

Also, I wonder if in

[2020-10-14 22:55] noahwsmith commented on #394
Thank you!

[2020-10-14 22:56] #394 closed

[2020-10-14 22:58] noahwsmith commented on #396
Terrific- thank you!

[2020-10-14 22:58] #396 closed

[2020-12-09 16:01] DonRichards opened #398 "Error Message needs attention"
#### Issue description
Error message is unclear.

#### For an issue, describe steps to reproduce the issue

To understand the this error I looked at the code and found my answer but it's clear this isn't approachable for everyone.
[code]

##### What's the expected result?

Better wording to understand what changes are suggested. Some like
`"ISLE cannot be run from within a child directory under th

[2020-12-09 16:56] noahwsmith commented on #398
@DonRichards this is Born-Digital specific, not ICG:ISLE. The fix_mac_nfs script is just something we use internally.

[2020-12-09 16:56] #398 closed

[2020-12-18 17:38] McFateM opened #401 "Insufficient TemporaryStore disk space halting FEDORA"
#### Issue description
In my local instance of ISLE the FEDORA container frequently crashes with an ERROR like this:

[code]

These ERRORs are often accompanied by warnings that don't appear to kill the container, like so:

[code]

#### For an issue, describe steps to reproduce the issue

System setup (OS information, software versions, etc):

Steps:
1.  Launch my local ISLE stack using `docker-co

[2020-12-18 17:43] noahwsmith commented on #401
@McFateM if you can find this file I can help you get a PR in to lower the temp requirement:
https://stackoverflow.com/a/27549226/324361

[2020-12-18 18:31] McFateM commented on #401
Yup, that is the thread I found yesterday.  Going to have a look in the config for it now.  Thanks!

[2020-12-18 19:41] McFateM commented on #401
Well, I couldn't find ANY of the config files mentioned in that thread, or others I followed.  But, I did find a lot of conversation from a long time ago suggesting that ActiveMQ has the ability to adjust/reconfigure itself automatically.  So, I decided to do some experimentation with my `docker-compose.local.yml` file and ActiveMQ, something I have been doing for a long time.

Recognizing that ru

[2020-12-18 19:58] bondjimbond opened #402 "WARC tools missing from ISLE-apache Dockerfile"
#### Issue description

The WARC tools from https://github.com/internetarchive/warctools need to be added to the Dockerfile in ISLE-apache (https://github.com/Islandora-Collaboration-Group/isle-apache/blob/master/Dockerfile).

These tools are required to support islandora_solution_pack_web_archive, which depends on `warcfilter` and `warcindex`. These are the default paths to those files:

[code]

[2021-01-06 21:35] noahwsmith commented on #402
@g7morris @bondjimbond I had a few minutes while something else was compiling so I figured out what we needed to add. Gavin had warned me about an unrelated OpenJPEG issue which is preventing this from building fully, but my local testing shows the WarcTools step succeeds.

[2021-01-13 18:59] g7morris commented on #402
Hi @bondjimbond

Thanks for this ticket.

Just an update that I merged in @noahwsmith 's PR https://github.com/Islandora-Collaboration-Group/isle-apache/commit/36f9cdf3aca1d91b628f6d2040647b5b4a468bea to add the WARCTools as directed.

Recommend that you `docker-compose down` and then `docker-compose pull` to get the newly built images when you have a chance to review and test.

Also @McFateM this

[2021-01-14 15:21] bondjimbond commented on #402
Thanks!

[2021-02-17 14:34] bondjimbond opened #406 "No documentation about configuring to send mail"
#### Issue description

I cannot get Drupal configured to successfully send mail within an ISLE environment, even when the server is properly configured to send mail. This means that alerts, new account notifications, etc. cannot get through.

According to discussions on Slack, you need to set up Sendgrid or another service to handle mail, but there is no documentation about how to do this. There

[2021-02-17 18:45] noahwsmith commented on #406
Are you looking for the SendGrid Drupal documentation? https://sendgrid.com/docs/for-developers/sending-email/drupal/

[2021-02-17 18:53] DiegoPino commented on #406
@bondjimbond maybe out of scope, but using a module like https://www.drupal.org/project/smtp would work for you? There is a DRUPAL 7 version. We use that in archipelago and everyone (except my mailbox) is happy

[2021-02-17 19:52] bondjimbond commented on #406
@DiegoPino Tried SMTP, doesn't work in ISLE.
@noahwsmith Tried the SendGrid module, doesn't work. But the main thing is that there must be some documentation of how mail in ISLE needs to be configured, because it's not written down anywhere as far as I can tell.

[2021-02-17 19:55] noahwsmith commented on #406
@g7morris is this the module we use for sendgrid, or another one?

[2021-02-17 19:58] g7morris commented on #406
To my knowledge it is the same module yes using the new method of API keys instead of passwords.

[2021-02-17 20:07] g7morris commented on #406
Hi @bondjimbond thanks for pointing this out that there is this gap in the documentation. I will add this topic to the list for the next ISLE release slated in March.

[2021-02-17 20:09] noahwsmith commented on #406
In the meanwhile, that module works from our experience. Gavin's note about API keys is discussed here: https://www.drupal.org/project/smtp/issues/3183100. If you get it working and add this documentation we'd all appreciate the effort.

[2021-02-26 21:07] SummittDweller opened #409 "Documentation update: docs/update/update.md needs "master" changed to "main""
#### Issue description
This is a documentation change required in `docs/update/update.md`, and maybe elsewhere?

I'm working through the aforementioned document to update my dg.localdomain instance of ISLE from v1.5.3 to v1.5.4 and found what I believe is a problem with lines 36 and 37.  Those read:

* Pull down the ICG ISLE "master" branch into your Local project's new "isle-update-numberhere" br

[2021-03-05 19:22] bondjimbond commented on #406
@noahwsmith @g7morris I tried using the SMTP module using the info that Sendgrid provides, to no avail. If you've more precise guidance re configuration, I'd love to try it out.

[2021-03-08 20:12] noahwsmith commented on #406
@bondjimbond can you provide details on how Sendgrid doesn't work for you? It literally works out of the box for us following the vendor's instructions.

[2021-03-09 16:35] bondjimbond commented on #406
It just says "failed to send email", but I don't know if I got the configuration right. This is in the SMTP module that you linked to.

Tried various ports, but always "Failed to send email".

![Screen Shot 2021-03-09 at 11 34 15 AM](https://user-images.githubusercontent.com/6069170/110504793-83a0c500-80cb-11eb-911b-c72118bc13b3.png)

[2021-03-10 17:28] g7morris commented on #374
Hi @SummittDweller

Would you like to submit a PR with that loop for the next ISLE release?

We'd love to give you credit and a big thanks for this!

Hope you are well.

Cheers
Gavin

[2021-03-10 17:30] g7morris commented on #401
Hi @SummittDweller aka @McFateM aka Mark ;)

Would you like to submit a PR to the Fedora image https://github.com/Islandora-Collaboration-Group/isle-fedora with that fix for the next ISLE release?

We'd love to give you credit and a big thanks for this!

Hope you are well.

Cheers
Gavin

[2021-03-10 17:31] g7morris commented on #402
Closing ticket as resolved.

[2021-03-10 17:31] #402 closed

[2021-03-10 17:33] g7morris commented on #409
Hi @marksandford or @dwk2

Is this something that the Documentation team could pick up for the upcoming ISLE release?

Thanks,
Gavin

[2021-03-10 17:41] g7morris commented on #228
Curious if this been adapted into the Cookbook @marksandford or @dwk2 ?

[2021-03-10 17:42] g7morris commented on #229
@marksandford Is this a process you could assist with? I don't have easy access to a Windows setup to be able to test sadly.

[2021-03-10 17:45] g7morris commented on #155
Closing this ticket as openssh isn't a requirement anymore and we are well past 1.2 in releases. If someone needs `openssh` or other features above, please reopen this ticket or create a new one. Thank you.

[2021-03-10 17:45] #155 closed

[2021-03-10 17:46] g7morris commented on #156
I believe this is no longer an active issue to fix. Closing ticket.

[2021-03-10 17:46] #156 closed

[2021-03-10 17:47] g7morris commented on #157
This is now a feature in ISLE and can be closed.

[2021-03-10 17:47] #157 closed

[2021-03-10 17:47] g7morris commented on #169
This has been completed and is a recurring task for maintainers. Closing ticket

[2021-03-10 17:47] #169 closed

[2021-03-10 17:48] g7morris commented on #234
I believe this is now a release process updated by the ISLE Maintainers here https://github.com/Islandora-Collaboration-Group/ISLE/tree/main/docs/release-notes Closing ticket as this is ongoing.

[2021-03-10 17:48] #234 closed

[2021-03-10 17:50] g7morris commented on #168
This is now a feature in ISLE https://github.com/Islandora-Collaboration-Group/ISLE/blob/main/docs/optional-components/loc-proxy.md closing ticket.

[2021-03-10 17:50] #168 closed

[2021-03-10 17:51] g7morris commented on #170
This is now a feature in ISLE and actively maintained

[2021-03-10 17:51] #170 closed

[2021-03-10 17:51] g7morris commented on #171
This feature is going to be pulled from the ISLE-apache image and will be manually run only. Closing ticket.

[2021-03-10 17:51] #171 closed

[2021-03-10 17:53] g7morris commented on #189
This should become part of the scripts directory. Assigning this to myself for next ISLE release.

[2021-03-10 17:55] Digital-Grinnell commented on #374
I'd love to create a PR, but don't have time right now, nor anytime soon.  Sorry.  In case you would like to pick up the change though, I've attached a copy of my `migration_site_vsets.sh` as a .txt file here.  I think the only change in the file is near the top, and it's clearly marked with a comment.

Thanks.

[migration_site_vsets.txt](https://github.com/Islandora-Collaboration-Group/ISLE/files

[2021-03-10 17:55] g7morris commented on #192
This ticket can been closed as this is an active part of the ISLE maintenance process.

[2021-03-10 17:55] #192 closed

[2021-03-10 18:02] g7morris commented on #185
This issue have been fixed as of ISLE 1.2+ Closing ticket.

[2021-03-10 18:02] #185 closed

[2021-03-10 18:10] g7morris commented on #271
This has been included as a fix since ISLE 1.3.0 release. Closing ticket.

[2021-03-10 18:10] #271 closed

[2021-03-10 18:11] g7morris commented on #288
This was fixed in ISLE release 1.3.0 https://github.com/Islandora-Collaboration-Group/ISLE/issues/271 Closing ticket.

[2021-03-10 18:11] #288 closed

[2021-03-10 18:17] g7morris opened #410 "Traefik should get an upgrade to 2.0"
#### Issue description
Traefik is currently pinned at version 1.7.9.

Given that ISLE 8 is using 2.0+ it would be good to update to a new version from a security and updates standpoint.

It would also give ISLE 7 users another learning area on how to migrate to ISLE 8.

Lastly there are more features in Traefik 2.0 e.g. plugins etc that could extend ISLE 7 positively.

The only drawback is that th

[2021-03-10 18:22] #211 closed

[2021-03-10 18:22] g7morris commented on #210
This was fixed in release 1.4 with the git cleanup. Closing ticket.

[2021-03-10 18:22] #210 closed

[2021-03-10 18:23] g7morris commented on #208
Closing ticket as ISLE no longer uses this logging setup since release 1.4

[2021-03-10 18:23] #208 closed

[2021-03-10 18:28] g7morris commented on #236
Duplicate of https://github.com/Islandora-Collaboration-Group/ISLE/issues/189 will be handled by script and README. This developer will update Documentation of necessary steps. Closing dupe

[2021-03-10 18:28] #236 closed

[2021-03-10 18:29] g7morris commented on #280
@dwk2 Is there any more outstanding work on this or can this ticket be closed?

[2021-03-10 18:35] g7morris commented on #364
Closing this ticket as paths for the ISLE 8 project have been conveyed. Thanks everyone for the continued interest in ISLE.

[2021-03-10 18:35] #364 closed

[2021-03-10 18:38] g7morris commented on #245
This issue has been solved by the inclusion of the `release-notes` section. New release .md files are added by ISLE maintainers. Closing ticket.

[2021-03-10 18:38] #245 closed

[2021-03-10 18:59] dwk2 commented on #228
Little has been done with this. The ISLE docs link to this google doc:
Installing
ISLE on Google Cloud Platform
<https://docs.google.com/document/d/1r-I9n8mUhlJ5Z-X9AO-RrikhzH6I8bTPIL25LmtRbxE/edit#>.
(And the supporting doc has not been incorporated into the primary just
mentioned google doc; it also had been put in the trash by its owner, so
I've made this copy here and stored it with the primar

[2021-03-10 19:13] g7morris commented on #228
So is this a vote to close this ticket as solved by this linked Gdoc?

[2021-03-10 19:13] dwk2 commented on #108
This issue is outdated and from ISLE 1.0 or 1.1. Closing issue.

[2021-03-10 19:13] #108 closed

[2021-03-10 19:16] dwk2 commented on #228
Yes, exactly! Sorry for not being more clear. And thank you for cleaning
out the issues queue.
David

On Wed, Mar 10, 2021 at 2:14 PM Gavin Morris <notifications@github.com>
wrote:

[2021-03-10 19:17] dwk2 commented on #228
Little has been done with this. The ISLE docs link to this google doc: [Installing ISLE on Google Cloud Platform](https://docs.google.com/document/d/1r-I9n8mUhlJ5Z-X9AO-RrikhzH6I8bTPIL25LmtRbxE/edit#). (And the supporting doc has not been incorporated into the primary just mentioned google doc; it also had been put in the trash by its owner, so I've made this copy here and stored it with the prima

[2021-03-10 19:17] #228 closed

[2021-03-10 19:18] dwk2 commented on #409
Yes, I'll take care of it.
David

On Wed, Mar 10, 2021 at 12:33 PM Gavin Morris <notifications@github.com>
wrote:

[2021-03-10 19:18] g7morris opened #411 "Removing forced permissions check on ISLE apache image every time container restarts"
#### Issue description
I will be removing the "forced" Drupal permissions [check](https://github.com/Islandora-Collaboration-Group/isle-apache/blob/main/rootfs/etc/services.d/apache/run#L3) that executes everytime that the Apache container is restarted in the next ISLE release.

This can cause confusing micro-outages or delays for users with large files directories and worse. Recommend that folks

[2021-03-10 20:57] ysuarez commented on #219
I wanted to share a quick way of using the [nmap](https://nmap.org/) CLI tool to check which ciphers and protocols your server is using for https. In this case nmap also provides a "grade" for the strength of the individual ciphers that are being used. I had to use this nmap approach to check on servers on my intranet that the SSLLabs could not check for me since their site could not "see" my intr

[2021-03-10 23:24] dwk2 commented on #409
This is completed. Please see https://github.com/Islandora-Collaboration-Group/ISLE/pull/412

[2021-03-10 23:24] #409 closed

[2021-03-11 15:02] dwk2 commented on #280
The only change needed is to update (this single page of documentation only) to change the docker-compose version from 1.23.1 to 1.28.5. If okay to proceed, I can update that and submit it as a PR.

[2021-03-11 15:05] dwk2 commented on #320
This has already been completed. Closing issue.

[2021-03-11 15:05] #320 closed

[2021-03-11 15:09] g7morris commented on #280
Perhaps we just say something more neutral like endusers can find the latest version at this link https://docs.docker.com/compose/install/ and can follow OS appropriate steps under the Install Compose section. That would save you from having to constantly update the version number. It is more important that folks learn to maintain this for themselves and understand where to go vs the specific vers

[2021-03-11 15:11] dwk2 commented on #322
Closing this issue. No longer a relevant issue.

[2021-03-11 15:11] #322 closed

[2021-03-11 15:14] dwk2 commented on #280
I like that! I'll add it as a PR.

[2021-03-11 16:11] noahwsmith commented on #406
Diego suggested SMTP. I suggested using Sendgrid without SMTP. The main doc page sends you to use  https://www.drupal.org/project/sendgrid_integration. It has extensive documentation https://git.drupalcode.org/project/sendgrid_integration/blob/HEAD/README.md

[2021-03-11 16:42] dwk2 commented on #280
Added: https://github.com/Islandora-Collaboration-Group/ISLE/pull/413
Closing this issue.

[2021-03-11 16:42] #280 closed

[2021-03-11 16:48] dwk2 commented on #319
@marksandford: I believe this has been completed and the resultant doc page is this: https://islandora-collaboration-group.github.io/ISLE/release-notes/release-1-2-0/

May we close this issue?

[2021-03-11 16:56] dwk2 commented on #347
Hi @McFateM, It looks like this issue may now be closed because it was completed in: https://github.com/Islandora-Collaboration-Group/ISLE/pull/348.

Please confirm and close comment if you agree. Thank you!

[2021-03-11 17:06] dwk2 commented on #358
Hi @ysuarez , do you still want to add the following contribution, or does it no longer seem necessary?

"Maybe an improvement to the ISLE Cheat Sheet: Docker Commands would be to make a new section at top of page of the most frequent commands used to pull images, docker up, and docker down? And then under that, we could have a horizontal separator followed by the summary of many docker commands?"

[2021-03-11 17:28] dwk2 commented on #241
@bookishgirl Three years later and I agree with you. I am still uncomfortable with the unfinished nature, and added overhead of maintaining, these example user stories. They were a good idea, but they'd need a lot of work, IMHO, to have them be useful. I recommend that we delete them entirely. Please comment if you agree/disagree. If you agree, I'll submit a PR for this.

[2021-03-11 17:37] dwk2 commented on #231
My initial comment (Aug 7, 2018) at top of page has been fulfilled.

@bookishgirl Do you think it still would be useful to add your two Feb 14, 2019 thoughts above to the documentation? If so, do you still think the Update page (https://islandora-collaboration-group.github.io/ISLE/update/update/) is the best place?

[2021-03-11 17:50] dwk2 commented on #235
These files (ISLE\docs\specifications) continue to be out of date, all but one are not publicly displayed (the one live doc is "/specifications/resource-matrix/"), and they all appear to contain historically useful information for understanding how ISLE images are built. I'm unsure if these 6 files should quietly remain in the docs, be assigned for updating (@g7morris ?) or be purged. Thoughts any

[2021-03-11 17:55] dwk2 commented on #240
2.5 years have passed. I believe this is no longer an issue. I am closing it. If you happen to feel this is in error, please re-open the issue and state why this remains important.

[2021-03-11 17:55] #240 closed

[2021-03-11 18:01] dwk2 commented on #239
@McFateM Okay to close this issue?

I believe the intent of your issue has been implemented via the addition of numbered steps in all of our installation documentation.

For example, "Step 12: On Remote Staging - Edit the ".env" File to Change to the Staging Environment", from [here](https://islandora-collaboration-group.github.io/ISLE/install/install-staging-new/#step-12-on-remote-staging-edit-th

[2021-03-11 18:07] dwk2 commented on #238
Hi @McFateM and @SummittDweller : Does this issue remain in need of addressing, or has the documentation evolved sufficiently to have resolved this request? Thanks! - David

[2021-03-11 18:10] SummittDweller commented on #238
Hard to say, I've been through the process so many times it's just "muscle memory" anymore.  So, yes, I guess it is resolved at least for me.

[2021-03-11 18:11] SummittDweller commented on #347
I'll take you word for it.  Thanks.

[2021-03-11 18:11] dwk2 commented on #233
Closing this issue. It is a duplicate of the still open https://github.com/Islandora-Collaboration-Group/ISLE/issues/187

[2021-03-11 18:11] #233 closed

[2021-03-11 18:13] SummittDweller commented on #239
No longer necessary for me, but I do think this can be a nice addition in collaborative development.  I'd be interested in knowing if there are any document utilities/compilers or systems that help with this kind of thing?

[2021-03-11 18:16] g7morris commented on #235
Hi @dwk2

* `diagram-network.md` - Yes this needs an update. I can tweak this slide with minor revisions.
* `docker-containers-images.md` - Needs some editing and cutting down. Perhaps instead I can just give links to the isle image READMEs and a note/link to the release notes section?
  * I'd like to reduce the number of areas we all have to update for each release. Seems unnecessarily redundant.

[2021-03-11 18:18] dwk2 commented on #238
Thank you @SummittDweller ! Closing issue.

[2021-03-11 18:18] #238 closed

[2021-03-11 20:05] marksandford commented on #319
Yes, it is.  Thanks!  Closing

[2021-03-11 20:05] #319 closed

[2021-03-11 20:17] marksandford commented on #229
Can do.

[2021-03-11 20:22] dwk2 commented on #347
@SummittDweller - After looking more carefully, the points you raised in this Issue still remain to be completed. Leaving this issue OPEN.

[2021-03-11 21:09] bookishgirl commented on #231
I've used this documentation successfully(ish) a few times now so I think my comments are mostly outdated. The one thing that I still struggle with is parsing the merge conflicts - where I can (and should) leave my original code and where I should accept the change. I don't know that there is any easy comment that we could add here to help people with that though.

[2021-03-11 21:11] bookishgirl commented on #241
I agree!

[2021-03-11 22:01] dwk2 commented on #241
Closing Issue, now resolved with PR https://github.com/Islandora-Collaboration-Group/ISLE/pull/414

[2021-03-11 22:01] #241 closed

[2021-03-12 19:56] dwk2 commented on #231
Okay, I'm going to close this issue. If this issue arises again then my hope is that someone will create a fresh ticket at that time. Thank you @bookishgirl .

[2021-03-12 19:56] #231 closed

[2021-03-17 15:34] bondjimbond commented on #406
sendgrid_integration's documentation no longer works for a new install: see https://www.drupal.org/project/sendgrid_integration/issues/3203272

I'll work on that, but the main thing for this issue isn't a support request - it's about documentation of what exactly you need to do in order to support mail in ISLE. Since ISLE doesn't support the default/standard Drupal mailing functions, documentation

[2021-03-24 17:55] dwk2 commented on #217
I had thought that this edit would only effect people running the demo, which I believed has much usage now as compared to in 2019 when ISLE was first taking off. Either way, no worries. I understand the risk of breaking changes and I don't want that either. Thanks for the careful analysis.

[2021-04-14 18:14] g7morris commented on #411
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:14] #411 closed

[2021-04-14 18:14] g7morris commented on #235
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:14] #235 closed

[2021-04-14 18:15] g7morris commented on #365
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:15] #365 closed

[2021-04-14 18:15] g7morris commented on #219
Closing as "fixed" from ISLE 1.5.5 release & @McFateM @SummittDweller credited . Thanks Mark!

[2021-04-14 18:15] #219 closed

[2021-04-14 18:15] #189 closed

[2021-04-14 18:16] g7morris commented on #187
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:16] #187 closed

[2021-04-14 18:16] g7morris commented on #194
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:16] #194 closed

[2021-04-14 18:16] g7morris commented on #190
Closing as "fixed" from ISLE 1.5.5 release

[2021-04-14 18:16] #190 closed

[2021-04-14 18:16] g7morris commented on #217
Closing as "can't fix" from testing learned in ISLE 1.5.5 release

[2021-04-14 18:16] #217 closed

[2021-04-14 18:17] #207 closed

[2021-04-14 18:17] g7morris commented on #374
Closing as "fixed" from ISLE 1.5.5 release & @McFateM & @SummittDweller credited. Thanks Mark!

[2021-04-14 18:17] #374 closed

[2021-04-14 19:47] g7morris opened #419 "Migration instructions have an odd step."
#### Issue description
Describe the Issue you are experiencing here.  If it's not an issue but a new feature request, please describe the new feature here.

https://islandora-collaboration-group.github.io/ISLE/install/install-staging-migrate/

Has a step for using `install_solution_packs.sh: installs Islandora solution packs` which is a destructive command on a remote.

Please review the instructi

[2021-04-16 14:25] g7morris commented on #195
Closing this ticket with the "won't" fix / implement as it caused significant havoc with php mem exhaustion.ISLE is too brittle for this.

[2021-04-16 14:25] #195 closed

[2021-04-16 14:35] g7morris commented on #358
Hi @ysuarez

Is this something you are still working on? If so, perhaps we could get your upcoming PR ready for the 1.5.6 release at the end of April?

Thanks,
Gavin

[2021-04-16 14:37] g7morris commented on #388
@McFateM & @SummittDweller ^ It would be great to get this in for this month's ISLE 1.5.6 release however that link you provided uses `localhost`? Could you submit a PR instead for the documentation fix please or the appropriate link? Then @marksandford & @dwk2 could review too?

[2021-04-17 03:45] ysuarez commented on #419
I just wanted to mention that this "install_solution_packs.sh: installs Islandora solution packs" step is not found in the "[Production Migrate](https://islandora-collaboration-group.github.io/ISLE/install/install-production-migrate/#step-16-on-remote-production-run-isle-scripts)" docs. So if this step needs to be removed, it may only need to be remove from the "Staging Migrate"

[2021-04-20 04:12] ysuarez commented on #358
@g7morris Give me a couple of days this week to revisit this issue. At this point I have a much greater understanding of ISLE and Docker, though still not an expert. Let me see if I think I can come up with something worthwhile in a PR.

[2021-04-20 12:09] quornicus opened #422 "cache.server.source.ttl_seconds set twice in cantaloupe.properties"
cache.server.source.ttl_seconds is set twice in cantaloupe.properties, once at line 468 and again at 481. My impression is that cache.server.derivative.ttl_seconds was the intended property for line 481.

[2021-04-20 12:39] g7morris commented on #422
Thanks very much for taking the time to spot this!

I've pushed a [fix](https://github.com/Islandora-Collaboration-Group/isle-imageservices/pull/25) which rebuilt and pushed the Docker image with the newly fixed settings.

Really appreciate your help with this.

Closing the ticket as fixed.

[2021-04-20 12:39] #422 closed

[2021-04-22 23:29] ysuarez commented on #358
I just tried to add a pull request to add a new link in the install pages' footer section that points to the "ISLE Cheat Sheet" that does cover how to stop containers.

Though I am wanting to write some content in the "ISLE Cheat Sheet" to choose to use `docker-compose stop` versus `docker-compose down` in ISLE. Not clear is one is always preferred. I do understand that if I am about to upgrade th

[2021-04-23 12:58] g7morris commented on #358
`docker-compose down` is the "preferred" one as it deletes containers and networks each time. `docker-compose stop` keeps containers and their state which sometimes is wanted. I prefer `down` because I always want a new changed state of the container upon each restart. **HOWEVER** `docker-compose down -v` is a dreaded command as that will zap / destroy Docker volumes in addition to containers and

[2021-04-23 14:30] ysuarez commented on #358
@g7morris Thanks for the clarification. I would suggest that the community considers my PR, the addition of the link in the footer section to the "ISLE Cheat Sheet: Docker Commands" page, as a good way to take care of the main concerns from this issue.

Though I would be interested in creating a new issue later on to work on adding the general advice the you gave about there being a preference for

[2021-04-23 16:03] g7morris commented on #358
@marksandford & @dmer Can I elect one or both of you to review please? Otherwise I'm fine with including @ysuarez 's work in the upcoming ISLE 1.5.6 release.

[2021-04-29 14:47] bondjimbond commented on #419
@g7morris Can you elaborate on how it's destructive? I've followed these directions several times including the `install_solution_packs.sh` script without problems.

[2021-04-29 16:29] ysuarez commented on #419
@bondjimbond thanks for commenting. I was the one the brought up this potential issue to Gavin and it was just based on a hunch, but he obviously understands this more than me. My thinking was that for a "migrate staging" or "migrate production" ISLE7 scenario, I would not want to make any changes to the recently copied Feora data in datastreamStore and objectStore in my staging server, and I beli

[2021-04-29 16:39] bondjimbond commented on #419
Nope, no issues using it. It may be comforting to note that it's possible to reinstall the solution packs through the UI as well, and it's something that you might have to do once in a while. If you look at the Solution Packs Required Objects setting - admin/islandora/solution_pack_config/solution_packs - you can force reinstall them. I've done this several times on my massive (12 TB) multisite re

[2021-04-29 17:43] ysuarez commented on #419
@bondjimbond thanks for all this info! I was having some issues with my ISLE7 staging install, but I already didn't think it was related to that script since I rebuilt my staging without using the script and the issue persited. I also checked for changes between my original Fedora data in the current production server and my staging data, and they were exactly the same.

[2021-05-07 19:38] dwk2 opened #425 "Tailing fedoragsearch logs: path needs correction"
#### Issue description
The helpful message to user contains an incorrect path. Below is the correct path.

#### For an issue, describe steps to reproduce the issue

ISLE 7, version 1.4.2. Docker status: containers are UP.

Steps:
1. docker exec -it isle-fedora-ld bash
2. cd /utility_scripts/
3. ./updateSolrIndex.sh
4. Command line displays the following helpful message (see "actual result", below)

[2021-05-10 12:05] g7morris commented on #425
Hi @dwk2

Thanks for the issue post and having reviewed perhaps the issue is that end-users should not expect output from the `/usr/local/tomcat/logs/fedoragsearch.daily.logs`? Technically the current message is correct as those are three different logs.

Please note that there is output to `/usr/local/tomcat/logs/fgs-update-foxml.out` and `/usr/local/tomcat/logs/fgs-update-foxml.err` as the utili

[2021-05-11 15:44] dwk2 commented on #425
Sure - I'll consult w/ Mark.
Thanks,
David

On Tue, May 11, 2021 at 10:58 AM Gavin Morris ***@***.***>
wrote:

[2021-05-28 22:01] dwk2 opened #428 "Staging Migration: Software Dependencies for both Ubuntu and CentOS are missing two steps"
#### Issue description
1) When I setup my staging server for ISLE7, and add my user to the `docker` group, I get the following error message: "group 'docker' does not exist"
2) When I run `docker ps -a`, I get the following error message: `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

#### Additional details / screenshots
Solution would be to a

[2021-07-26 17:27] g7morris commented on #428
Thanks @dwk2 These steps have now been added as requested.

[2021-07-26 18:11] #428 closed

[2021-08-08 19:53] bondjimbond commented on #406
I have not yet been able to get this working. Furthermore, I'm encountering this mail problem in another ISLE install at another organization, as well.

System email is really important to Islandora installs, so I feel that good documentation for how to make it work in this environment is critical.